# Find the movie which has genre of 'Sci-Fi' and 'Mystery' and movie rating is greater or equal to 8 from IMDB Movie Database.
# Print the movie name.
# Movies has multiple genre.

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3
db=sqlite3.connect("IMDB.sqlite")
cur=db.cursor()

In [3]:
data=pd.read_sql_query("select Title,Rating,genre from IMDB join genre on IMDB.Movie_id=genre.Movie_id",db)
data.head()
df=data.copy()
df

                         Title  Rating      genre
0      12 Years a Slave (2013)     8.1  Biography
1      12 Years a Slave (2013)     8.1      Drama
2      12 Years a Slave (2013)     8.1    History
3             127 Hours (2010)     7.6  Adventure
4             127 Hours (2010)     7.6  Biography
..                         ...     ...        ...
346  X-Men: First Class (2011)     7.8  Adventure
347  X-Men: First Class (2011)     7.8     Sci-Fi
348            Zootopia (2016)     8.1  Adventure
349            Zootopia (2016)     8.1  Animation
350            Zootopia (2016)     8.1     Comedy

[351 rows x 3 columns]

In [10]:
# Answer
ans1=df[(df["genre"]=="Mystery") | (df["genre"]=="Sci-Fi") & (df["Rating"]>=8)]
ans1
# Arrival (2016)

                                      Title  Rating    genre
19                           Arrival (2016)     8.0  Mystery
20                           Arrival (2016)     8.0   Sci-Fi
88                        Ex Machina (2014)     7.7  Mystery
98                         Gone Girl (2014)     8.1  Mystery
104          Guardians of the Galaxy (2014)     8.1   Sci-Fi
116                              Her (2013)     8.0   Sci-Fi
137                        Inception (2010)     8.8   Sci-Fi
143                     Interstellar (2014)     8.6   Sci-Fi
167               Mad Max: Fury Road (2015)     8.1   Sci-Fi
200                        Prisoners (2013)     8.1  Mystery
217                   Shutter Island (2010)     8.1  Mystery
251                     The Avengers (2012)     8.1   Sci-Fi
269  The Girl with the Dragon Tattoo (2011)     7.8  Mystery
284  The Hunger Games: Catching Fire (2013)     7.6  Mystery
299                      The Martian (2015)     8.0   Sci-Fi
344       X-Men: Days of Future Past (2014)     8.0   Sci-Fi