# Find the Movie with Longest-Running Time from IMDB Movie database.
# Print the name of movie and running time as integer value.

In [21]:
import sqlite3
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

db=sqlite3.connect("IMDB.sqlite")
cur=db.cursor()

In [22]:
df=pd.read_sql_query("select * from IMDB",db)
df.head()

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
0,36809,12 Years a Slave (2013),8.1,496092,96,20000000.0,134 min,75556,126223,161460,...,8.0,7.9,8.0,7.8,7.8,8.1,8.0,7.7,8.3,8.0
1,30114,127 Hours (2010),7.6,297075,82,18000000.0,94 min,28939,44110,98845,...,7.5,7.5,7.5,7.3,7.3,7.5,7.6,7.0,7.7,7.6
2,37367,50/50 (2011),7.7,283935,72,8000000.0,100 min,28304,47501,99524,...,7.6,7.6,7.6,7.4,7.4,7.5,7.4,7.0,7.9,7.6
3,49473,About Time (2013),7.8,225412,,12000000.0,123 min,38556,43170,70850,...,7.6,7.6,7.7,7.6,7.5,7.8,7.7,6.9,7.8,7.7
4,14867,Amour (2012),7.9,76121,94,8900000.0,127 min,11093,15944,22942,...,7.7,7.7,7.9,7.9,7.8,8.1,6.6,7.2,7.9,7.8

In [23]:
final_df=df[df["Runtime"]!=""]
final_df
def f(runtime):
    i=0
    while runtime[i]!=" ":
        i+=1
    ans=runtime[0:i]
    return float(ans)
final_df["Runtime"]=final_df["Runtime"].apply(f)
final_df

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
0,36809,12 Years a Slave (2013),8.1,496092,96,20000000.0,134.0,75556,126223,161460,...,8.0,7.9,8.0,7.8,7.8,8.1,8.0,7.7,8.3,8.0
1,30114,127 Hours (2010),7.6,297075,82,18000000.0,94.0,28939,44110,98845,...,7.5,7.5,7.5,7.3,7.3,7.5,7.6,7.0,7.7,7.6
2,37367,50/50 (2011),7.7,283935,72,8000000.0,100.0,28304,47501,99524,...,7.6,7.6,7.6,7.4,7.4,7.5,7.4,7.0,7.9,7.6
3,49473,About Time (2013),7.8,225412,,12000000.0,123.0,38556,43170,70850,...,7.6,7.6,7.7,7.6,7.5,7.8,7.7,6.9,7.8,7.7
4,14867,Amour (2012),7.9,76121,94,8900000.0,127.0,11093,15944,22942,...,7.7,7.7,7.9,7.9,7.8,8.1,6.6,7.2,7.9,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,17545,Warrior (2011),8.2,361049,71,25000000.0,140.0,74983,96953,106673,...,8.0,8.0,8.0,7.7,7.7,7.5,7.8,7.1,8.2,8.1
112,38262,Whiplash (2014),8.5,492285,88,3300000.0,107.0,110404,161864,132656,...,8.3,8.3,8.2,8.1,8.1,8.2,8.7,8.0,8.6,8.4
114,27783,X-Men: Days of Future Past (2014),8.0,560736,74,200000000.0,132.0,91765,127521,183578,...,7.8,7.8,8.0,7.7,7.7,7.9,7.5,7.4,8.1,7.9
115,42294,X-Men: First Class (2011),7.8,556713,65,160000000.0,132.0,64428,96219,200144,...,7.7,7.6,7.8,7.6,7.5,7.7,7.6,7.3,7.8,7.7
116,32217,Zootopia (2016),8.1,309474,78,150000000.0,108.0,53626,70912,102352,...,7.8,7.8,8.1,7.8,7.8,8.1,7.7,7.6,8.0,8.0

In [24]:
# Answer  
ans=final_df['Runtime'].max()
final_df[final_df["Runtime"]==ans]

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
105,35004,The Wolf of Wall Street (2013),8.2,881984,75,100000000.0,180.0,171660,236650,250667,...,8.0,8.1,7.7,7.6,7.6,7.5,7.8,7.8,8.1,8.1